/* ! CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* ? misure fisse */
:root {
    --space: 40px;
    --brd: 2px dashed black;
    --psz: 20px;
    --btns: 1rem;
}
/* colori fissi */
.gray{
    background-color: rgb(235, 229, 229);
}
.skyblue{
    background-color: rgb(100, 128, 231);
}
.dark{
    background-color: rgb(48, 47, 47);
    border-bottom: 2px solid white;
}
.text-white{
    color: white;
}
.dark-button{
    background-color: rgb(48, 47, 47);
}
/*  utils */
.container{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: var(--space ) 0;
    min-height: 600px;
}
.reverse{
    flex-direction: row-reverse;
}
button{
    border-radius: 20px;
    border: none; 
    padding: 10px 35px;
    font-size: var(--btns);
}
.loging{
    font-size: 10px;
}
h1{
    text-align: center;
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
}
h2{
    font-size: 45px;
    padding-top: 80px;
    padding-left: 50px;
}
h3{
    font-size: 45px;
    text-align: center;
}
h4{
    font-size: 35px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
h5{
    font-size: 35px;
    color: #64C2E7;
}
p{
    font-size: var(--psz);
    padding-top: 30px;
    padding-left: 50px;
    line-height: 30px;
}
p.text-white{
    padding: 0;
}

/*  header */
.background-header{
    background-image: url("../img/jumbo.png");
    background-size: 100%;
}
.nav{
    min-height: 70px;
    display: flex;
    justify-content: center;
    padding: 15px;
}
.deck-nav{
    height: 40px;
    flex-basis: 70%;
    display: flex;
}
.card-nav{
    flex-basis: calc(30% / 2);
}
.card-nav.long{
    flex-basis: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 100px;
}
.logo{
    height: 40px;
}
a{
    text-decoration: none;
    color: white;
}
button.login{
   height: 90%;
   width: 65px;
   border-radius: 20px;
   padding: 0;
   font-size: 12px;
}
.download{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 240px 0px 240px;
    height: 40px;
    max-width: 100%;

}

/* Spotlight */
.spotlight{
    min-height: 500px;
    display: flex;
    
}
.spotlight-box{
    flex-basis: 60%;
}
p.text-white{
    text-align: center;
    font-size: var(--psz);
}

/* contenitori principali */
.deck{
    display: flex;
    flex-basis: 70%;
}
.card-xl{
    flex-basis: 60%;
    padding-top: 50px;
}
.card-xs{
    flex-basis: 40%;
}
section.container{
    min-height: 1200px;
}
.deck-xl{
    text-align: center;
}
.img-xl{
    width: 100%;
    height: auto;
}
/* navigazione fondo pagina */
.col{
    flex-basis: calc(80% / 4);
    background-color: aqua;
    border: var(--brd);
}
.col.social{
    flex-basis: 30%;
    background-color: salmon;
    border: var(--brd);
}
.container.dark{
    min-height: 800px;
    padding: 15px 0 40px;
}
